/* AgeCalculatorDisplay.css */

.age-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;  
    font-family: var(--font-family-poppins), sans-serif;
    color: var(--color-off-black);
    
  }
  
  .age-display-value {
    font-size: var(--font-size-output);  
    font-weight: var(--font-weight-extra-bold);  
    color: var(--primary-purple); 
     
  }
  
  .age-display-label {
    font-size: var(--font-size-output);  
    font-weight: var(--font-weight-normal);  
    color: var(--off-black);  
    font-weight: var(--font-weight-extra-bold); 
     
  }
  
  @media (max-width: var(--mobile-width)) {
    .age-display-value {
      font-size: 1em;  
    }
  }
  
  @media (min-width: var(--desktop-width)) {
    .age-display-value {
      font-size: 4em; 
    }
  }
  