
.submit-button-container {
    position: relative; /* absolute positioning of the button */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the button to the right */
  }
  
  .submit-line {
    width: 100%;
    background-color: var(--light-red);
    position: absolute;
    top: 1;
    transform: translateY(0); /* Reset vertical position to the top */
    right: 0;
  }
  
  .submit-button {
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-purple);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 600px) { /* Adjust breakpoint as needed */
    .submit-button {
      position: static; /* Use the normal document flow on mobile */
      margin: auto; /* Center the button horizontally */
    }
    
    .submit-line {
      order: -1; /* Ensure the line is still behind the button visually */
    }
  }

.submit-button img {
  width: 1.5rem; /* Adjust the size of the icon as needed */
  height: auto; /* Maintain aspect ratio */
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--off-black); /* Change color on hover/focus */
  outline: none; /* Remove the outline if focused */
}
