@import './styles/variables.css';
#root {
 
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--light-grey) !important;; 
}